#!/usr/bin/env bash

function use_flox() {
	if [[ ! -d ".flox" ]]; then
		printf "\033[31mdirenv(use_flox): \033[33m\`.flox\`\033[31m directory not found\033[0m\n" >&2
		printf "\033[31mdirenv(use_flox): Did you run \033[33m\`flox init\`\033[31m in this directory?\033[0m\n" >&2
		return 1
	fi

	if ! command -v flox >/dev/null; then
		printf "\033[31mdirenv(use_flox): \033[33m\`flox\`\033[31m not installed\033[0m\n" >&2
		printf "\033[31mdirenv(use_flox): Please install flox from \033[33mhttps://flox.dev/\033[31m\033[0m\n" >&2
		return 1
	fi

	REQUIRED_FLOX_VERSION="1.6.0"
	CURRENT_FLOX_VERSION="$(flox --version)"
	if [ "$(printf '%s\n' "$REQUIRED_FLOX_VERSION" "$CURRENT_FLOX_VERSION" | sort -V | head -n1)" != "$REQUIRED_FLOX_VERSION" ]; then
		echo -e "\033[31mdirenv(use_flox): flox version \033[33m$REQUIRED_FLOX_VERSION\033[31m or higher is required. Found \033[33m$CURRENT_FLOX_VERSION\033[31m\033[0m"
		echo -e "\033[31mdirenv(use_flox):    Please install the latest from \033[33mhttps://flox.dev/\033[31m\033[0m"
		return 1
	fi

	direnv_load flox activate "$@" -- "$direnv" dump

	if [[ $# == 0 ]]; then
		watch_dir ".flox/env/"
		watch_file ".flox/env.json"
		watch_file ".flox/env.lock"
	fi
}

use flox